/*@import "_colours.css";;*/
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
header, main, aside, section, article, footer {
  display: block; }

* {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  list-style: none;
  vertical-align: baseline; }

/* Hiding */
.hide-1 {
  position: absolute;
  left: -1000em; }

.hide-2 {
  display: none; }

.hide-3 {
  text-indent: -1000em; }

.hide-4 {
  visibility: hidden; }

.hide-5 {
  visibility: hidden;
  text-indent: -1000em; }

/* Links */
a {
  font-weight: normal;
  color: #1896d4;
  text-decoration: none; }
  section.main.alt a {
    color: #fff; }
  div.partners a {
    border: 0; }
  .formatting a {
    border-bottom: 1px dotted;
    font-weight: bold; }
    .formatting a:hover, .formatting a:focus {
      border-bottom-style: solid; }
  a:hover, a:focus {
    color: #176394; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font: italic 400 1em/1.1 Lato, "Lucida Grande", GeezaPro, Tahoma, Arial, Sans-Serif;
  color: #125579; }
  .formatting h1, .formatting h2, .formatting h3, .formatting h4, .formatting h5, .formatting h6 {
    margin: 0 0 0.5em; }

.formatting h1 {
  font-size: 2.5em; }
section#intro h1 {
  margin-bottom: 0.2em;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  padding: 0 8% 0 0;
  text-align: right;
  font-size: 4.7em; }

.formatting h2 {
  font-size: 1.5em; }
section#intro h2 {
  font-size: 2.5em; }
#funnels h2 {
  font-size: 2em; }
div.partners a h2 {
  font-weight: bold; }
#funnels h2, h2.underline {
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  padding: 0 0 0.3em; }

section.main.alt h1, section.main.alt h2, section.main.alt .notice {
  color: #fff; }

/* Formatting */
.formatting p, .formatting ul, .formatting ol, .formatting dl, .formatting blockquote {
  margin-bottom: 1.5em; }
.formatting ul, .formatting ol {
  margin-left: 1.2em; }
.formatting ul > li {
  list-style: disc; }
.formatting ol > li {
  list-style: decimal; }
.formatting dd {
  margin: 0 0 0 0.5em; }
.formatting dt {
  margin: 1em 0 0;
  font-weight: bold;
  text-transform: uppercase; }
  .formatting dt:first-child {
    margin-top: 0; }
.formatting blockquote {
  position: relative;
  border-radius: 1.5em;
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  font-size: 0.9em; }
  .formatting blockquote:before {
    position: absolute;
    top: -0.15em;
    left: -0.15em;
    font: 7em Georgia;
    opacity: 0.1;
    content: "\201C"; }
  .formatting blockquote :last-child {
    margin-bottom: 0; }

div.buttons {
  margin: 1em 0; }

div.buttons.inline {
  display: inline-block;
  margin: 0; }

.button {
  display: inline-block;
  border-radius: 1.5em;
  border: 0 !important;
  padding: 0.7em 1.2em;
  background: #0988c7;
  text-align: center;
  line-height: 1.1;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-appearance: none; }
  .button.alt {
    background: #176394; }
  .button:hover, .button:focus {
    background: #354047;
    color: #fff; }

/* ------------------------------- */
/* =General */
/* ------------------------------- */
/* Clearfixes */
.wrap:after,
.columns:after,
ol#slides div.text:after,
ul.product-funnels:after {
  display: table;
  clear: both;
  content: ""; }

/* Misc */
.clear {
  clear: both; }

.small-text {
  font-size: 0.8em; }

.intro {
  font-size: 1.1em; }

.sup {
  font-size: 0.8em;
  vertical-align: super; }

section.main.alt div.column p b {
  color: #fff; }

div.product-title {
  text-align: center; }

div.product-title h1 {
  margin-bottom: 0.1em;
  font-size: 3em; }

div.product-title p {
  margin-bottom: 0.5em; }

p.notice,
em.notice {
  display: block;
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 0.5em 0.8em;
  background: rgba(0, 0, 0, 0.07);
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.2; }

em.notice {
  margin: 1em 0; }

div.partners a img {
  display: inline-block;
  margin: 0.3em 0;
  border-radius: 0.2em;
  padding: 0.4em;
  background: #fff;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15); }

div.partners a:hover img,
div.partners a:focus img {
  background: #1896d4; }

div.product-image {
  margin: 0 0 1.5em;
  border-radius: 1em;
  height: 30em;
  background: #eee no-repeat 50% 50%;
  background-size: auto 100%;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); }

div.product-image.bcc {
  background-image: url(../graphics/products/bcc.jpg); }

div.product-image.poc {
  background-image: url(../graphics/products/poc.jpg); }

div.product-image.sdc {
  background-image: url(../graphics/products/sdc.jpg); }

div.product-image.wcd {
  background-image: url(../graphics/products/wcd.jpg); }

/* Transitions */
a,
#prospectus-download p span {
  transition: color 0.2s; }

ul.product-funnels a {
  transition: border-color 0.2s; }

ul.product-funnels a span {
  transition: bottom 0.2s; }

#navigation nav ul a,
a.carousel-button,
.button,
#navigation nav h2 a
div.partners a img {
  transition: background-color 0.2s; }

/* ------------------------------- */
/* =Structure */
/* ------------------------------- */
body {
  background: #354047;
  text-align: left;
  font: 100%/1.4 Lato, "Lucida Grande", GeezaPro, Tahoma, Arial, Sans-Serif;
  line-height: 1.4;
  color: #354047; }

.wrap,
.columns {
  margin: 0 auto;
  padding: 2em 2% 1em;
  max-width: 75em; }

.column {
  float: left;
  margin: 0 2%; }

.columns > div:first-of-type {
  margin-left: 0; }

.columns div:last-of-type {
  margin-right: 0; }

.column.two {
  width: 48%; }

/* ------------------------------- */
/* =Banner */
/* ------------------------------- */
header[role="banner"] {
  position: relative;
  z-index: 2;
  padding-top: 5em;
  padding-bottom: 2em;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); }
  .home header[role="banner"] {
    padding: 0; }

/* ------------------------------- */
/* =Logo & Navigation */
/* ------------------------------- */
#navigation.wrap {
  position: relative;
  z-index: 10000;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center; }

/* Logo */
h1#logo {
  text-align: center;
  font-size: 1.3em; }

body.home h1#logo {
  display: inline-block;
  position: absolute;
  left: 2%;
  top: 4em;
  z-index: 1;
  font-size: 1.8em; }

h1#logo a {
  display: inline-block;
  position: relative;
  padding-left: 6em;
  text-align: left; }

h1#logo a b {
  display: block;
  font-size: 2em;
  color: #125579;
  font-style: normal; }

body.home h1#logo a b {
  font-size: 1.8em; }

h1#logo a i {
  font-size: 1.05em;
  color: #4f778f; }

body.home h1#logo a i {
  font-size: 1em; }

h1#logo a:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -2.3em 1em 0 0;
  width: 5em;
  height: 4.6em;
  background: url(../graphics/logos/emblem-blue.png) no-repeat 50% 50%;
  background-size: 100% auto;
  content: ""; }

/* Navigation */
#navigation nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-top: 0.5em solid rgba(255, 255, 255, 0.3); }

#navigation nav h2 {
  display: none; }

#navigation nav ul {
  display: inline-block;
  margin-top: -0.5em;
  border-radius: 0 0 1.7em 1.7em;
  border: 0.5em solid rgba(255, 255, 255, 0.3);
  border-top: 0;
  font-size: 1.1em; }

#navigation nav li {
  display: inline-block;
  position: relative;
  margin: 0;
  background: #0094d5; }

#navigation nav li:first-child {
  border-radius: 0 0 0 1.2em;
  padding-left: 1em; }

#navigation nav li:last-child {
  border-radius: 0 0 1.2em 0;
  padding-right: 1em; }

#navigation nav ul a {
  display: block;
  padding: 0.8em 1em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }

#navigation nav ul a.current,
#navigation nav ul a:hover,
#navigation nav ul a:focus {
  background: rgba(0, 0, 0, 0.15); }

#navigation nav ul a.current {
  background: rgba(0, 0, 0, 0.08); }

/* ------------------------------- */
/* =Main */
/* ------------------------------- */
main[role="main"] {
  position: relative;
  z-index: 1;
  background: #f2f2f2; }

section.main.alt {
  background-color: #0077b3;
  color: #e9f8ff; }

section#intro {
  background-color: #1896d4; }

/* ------------------------------- */
/* =Footer */
/* ------------------------------- */
footer[role="contentinfo"] {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #bbb; }
  footer[role="contentinfo"] p {
    position: relative;
    padding: 7em 0 0 0;
    font-size: 0.8em; }
    footer[role="contentinfo"] p:before {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -4.2em;
      width: 8.4em;
      height: 7em;
      background: url(../graphics/logos/emblem-grey.png) no-repeat 50% 0;
      background-size: 100% auto;
      font-size: 0.8em;
      content: ""; }

/* ------------------------------- */
/* =Carousel */
/* ------------------------------- */
#carousel {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #fff;
  background: #eee; }

#carousel div.wrap {
  position: relative;
  padding-top: 0;
  padding-bottom: 0; }

ol#slides {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 40em; }

ol#slides li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  list-style: none;
  background: no-repeat 96% 50%;
  background-size: auto 100%; }

ol#slides li.bcc {
  background-image: url(../graphics/products/bcc.jpg); }

ol#slides li.poc {
  background-image: url(../graphics/products/poc.jpg); }

ol#slides li.sdc {
  background-image: url(../graphics/products/sdc.jpg); }

ol#slides li.wcd {
  background-image: url(../graphics/products/wcd.jpg); }

/* Text */
ol#slides div.text {
  position: absolute;
  left: 0;
  bottom: 4em; }

ol#slides div.text h2 {
  margin: 0 0 0.1em;
  font-size: 2.5em; }

ol#slides div.text p.description {
  margin-bottom: 2em;
  font-size: 0.9em;
  color: #48789a; }

/* Buttons */
a.carousel-button {
  position: absolute;
  z-index: 100;
  top: 48%;
  border-radius: 50%;
  border: 0;
  padding: 0.8em;
  background: rgba(0, 0, 0, 0.05) no-repeat;
  background-size: auto 50%;
  line-height: 1.0;
  color: #fff;
  font-size: 2.5em;
  -webkit-text-size-adjust: none; }
  a.carousel-button.next {
    right: 2%;
    background-image: url(../graphics/icons/carousel-next.png);
    background-position: 55% 50%; }
  a.carousel-button.previous {
    left: 2%;
    background-image: url(../graphics/icons/carousel-previous.png);
    background-position: 45% 50%; }
  a.carousel-button:hover, a.carousel-button:focus {
    background-color: rgba(0, 0, 0, 0.2); }

/* ------------------------------- */
/* =Strapline */
/* ------------------------------- */
#strapline {
  background: #176394; }
  #strapline div.wrap {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    #strapline div.wrap h1 {
      margin: 0;
      text-align: center;
      font-size: 2em;
      font-weight: normal;
      font-style: italic;
      color: #fff; }
      #strapline div.wrap h1:before {
        content: "\201C"; }
      #strapline div.wrap h1:after {
        content: "\201D"; }
      #strapline div.wrap h1 span {
        white-space: nowrap; }

/* ------------------------------- */
/* =Lists */
/* ------------------------------- */
ul.unstyled {
  margin-left: 0; }
  ul.unstyled li {
    list-style: none; }

ol.references {
  margin-left: 0;
  font-size: 0.7em; }
  ol.references li {
    list-style: none; }

ul.style-1 {
  margin-left: 0;
  font-size: 1.3em; }
  ul.style-1 li {
    list-style: none; }
    ul.style-1 li a {
      display: inline-block;
      position: relative;
      margin: 0.1em 0;
      font-style: italic; }

ul.product-funnels {
  margin: 0 0 0 -4%;
  line-height: 1.1;
  font-size: 1.2em; }
  ul.product-funnels li {
    float: left;
    margin: 0 0 1.5em 4%;
    width: 46%;
    list-style: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
    div.wrap ul.product-funnels ul.product-funnels li {
      width: 21%; }
    ul.product-funnels li a {
      overflow: hidden;
      display: block;
      position: relative;
      border-radius: 0.2em;
      border: 0.3em solid #fff;
      height: 7em;
      background: no-repeat 50% 70%;
      background-size: 100% auto;
      font-weight: normal;
      font-style: italic;
      text-align: center;
      color: #d4f1ff; }
      div.wrap ul.product-funnels ul.product-funnels li a {
        height: 8em; }

ul.product-funnels li.bcc a {
  background-image: url(../graphics/products/bcc.jpg); }

ul.product-funnels li.sdc a {
  background-image: url(../graphics/products/sdc.jpg); }

ul.product-funnels li.poc a {
  background-image: url(../graphics/products/poc.jpg); }

ul.product-funnels li.wcd a {
  background-image: url(../graphics/products/wcd.jpg); }

ul.product-funnels a:hover,
ul.product-funnels a:focus {
  border-color: #1896d4; }

ul.product-funnels a span {
  position: absolute;
  right: 0;
  bottom: -8em;
  left: 0;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.6); }

ul.product-funnels a:hover span {
  bottom: 0; }

/* Files */
ul.files {
  margin-left: 0;
  list-style: none;
  font-size: 1.2em; }
  ul.files li {
    padding: 0.2em 0 0.2em 23px;
    background: url(../graphics/icons/pdf.gif) no-repeat 0 50%;
    list-style: none; }
    ul.files li a {
      font-style: italic; }
    ul.files li span {
      font-size: 0.6em;
      color: #eee; }

/* ------------------------------- */
/* =Tables */
/* ------------------------------- */
table {
  margin: 0 0 1.5em;
  border-collapse: collapse;
  border-spacing: 0 0;
  width: 100%;
  font-size: 0.9em; }
  table.graph {
    border: 1px solid #ddd; }
    table.graph thead tr:first-child th:first-child {
      width: 20%; }
    table.graph tbody tr:last-child td {
      padding-bottom: 0.4em; }
    table.graph td span {
      display: block;
      padding: 0.1em 0 0.1em 0.3em;
      background: #0b547a;
      color: #fff;
      box-shadow: inset 0 0.6em 1em rgba(255, 255, 255, 0.2); }
    table.graph.style-1 td span {
      background: #94731a; }
    table.graph.style-2 td span {
      background: #863e21; }
    table.graph.style-3 td span {
      background: #58477c; }
  table.financial.alt {
    width: 60%; }
    table.financial.alt tr > :last-child {
      width: 25%;
      text-align: right; }
  table caption {
    margin: 0 0 0.4em;
    font-style: italic;
    text-align: left; }
    table.financial table caption {
      margin: 0;
      border-radius: 0.2em;
      padding: 0.3em 0.5em;
      background: #065789;
      color: #fff; }
  table th,
  table td {
    border-bottom: 1px solid #eee;
    padding: 0.3em 0.5em;
    background: #fff;
    text-align: left;
    color: #354047;
    vertical-align: middle; }
  table thead th {
    text-align: left;
    background: #e5e5e5;
    font-weight: bold; }

/* ------------------------------- */
/* =Resolution adjustments */
/* ------------------------------- */
/* General tablet size */
@media screen and (max-width: 51.999em) {
  #strapline div.wrap,
  .wrap {
    padding: 1em 1.5em; }

  .columns {
    padding: 1.3em 1.5em 0; }

  div.columns .column {
    overflow: hidden;
    float: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: auto; }

  header[role="banner"] {
    padding-top: 5.3em;
    padding-bottom: 1.7em; }

  h1#logo {
    font-size: 1.3em; }

  body.home h1#logo {
    top: 4.5em;
    left: 1em;
    font-size: 1.5em; }

  #navigation nav {
    border-top: 0;
    background: #0094d5;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2); }

  #navigation nav ul {
    margin: 0;
    border-radius: 0;
    border: 0;
    font-size: 1em;
    box-shadow: none; }

  #navigation nav li {
    background: none;
    box-shadow: none; }

  #navigation nav li:first-child,
  #navigation nav li:last-child {
    padding: 0; }

  #navigation nav ul a {
    padding: 1.2em 1em; }

  #carousel {
    border-bottom: 0; }

  ol#slides {
    height: 34em;
    font-size: 0.9em; }

  ol#slides div.text {
    bottom: 3em; }

  ol#slides div.text h2 {
    font-size: 2.2em; }

  a.carousel-button {
    top: 48%;
    opacity: 1;
    font-size: 2em; }

  a.carousel-button.next {
    right: 3%; }

  a.carousel-button.previous {
    left: 3%; }

  section#intro h1 {
    border-right: 0;
    padding: 0;
    text-align: left;
    font-size: 2.5em; }

  section#intro h2 {
    font-size: 2em; }

  #strapline h1,
  #prospectus-download h1 {
    font-size: 1.5em; }

  section#intro h1 {
    margin-bottom: 0.5em; }

  div.product-title h1 {
    font-size: 2em; }

  div.wrap ul.product-funnels li {
    float: left;
    width: 46%; }

  div.wrap ul.product-funnels a {
    background-size: 100% auto; } }
/* Tweaks */
@media screen and (max-width: 43.999em) {
  body.home h1#logo {
    font-size: 1.3em; }

  header[role="banner"] {
    padding-top: 4.5em; }

  #navigation nav ul {
    font-size: 0.85em; }

  #navigation nav ul a {
    padding: 1em 0.8em; }

  ol#slides div.text h2 {
    font-size: 1.8em; }

  ol#slides div.text p.description b {
    display: block; } }
/* General phone size */
@media screen and (max-width: 35.999em) {
  h1#logo a i,
  #strapline,
  body.home #funnels div.columns div:first-child,
  footer[role="contentinfo"] p:before,
  div.partners a img {
    display: none; }

  header[role="banner"] {
    padding: 0;
    height: 3.2em; }

  h1#logo,
  body.home h1#logo {
    display: inline-block;
    position: relative;
    z-index: 1000;
    text-align: left;
    font-size: 0.9em; }

  body.home h1#logo {
    position: relative;
    top: auto;
    left: auto; }

  h1#logo a {
    padding-left: 3.5em; }

  h1#logo a b,
  body.home h1#logo a b {
    font-size: 1.4em;
    color: #fff; }

  h1#logo a:before {
    margin-top: -1.2em;
    width: 2.9em;
    height: 2.4em;
    background-image: url(../graphics/logos/emblem-white.png); }

  #carousel div.wrap {
    padding: 0; }

  ol#slides {
    height: 24em;
    font-size: 0.9em; }

  ol#slides li {
    background-position: 50% 50%;
    background-size: auto 110%; }

  ol#slides div.text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.7em 1em;
    background: rgba(0, 0, 0, 0.3); }

  ol#slides div.text h2 {
    float: left;
    margin: 0;
    font-size: 1.3em;
    color: #fff; }

  ol#slides div.text p.cta {
    float: right;
    margin: 0; }

  ol#slides p.cta a.button {
    padding: 0.5em 0.7em; }

  ol#slides div.text p.description,
  ol#slides div.text p.cta a.button span {
    display: none; }

  a.carousel-button {
    top: 45%; }

  section#intro {
    border-top-color: rgba(0, 0, 0, 0.2); }

  section#intro h1 {
    font-size: 2em; }

  section#intro h2 {
    font-size: 1.5em; }

  #prospectus-download h1 {
    font-size: 1.4em; }

  #prospectus-download ul li {
    padding-left: 0;
    background: none; }

  footer[role="contentinfo"] p {
    padding-top: 0; }

  ul.product-funnels li {
    float: none;
    width: 21%; }

  ul.product-funnels a {
    height: 4em;
    background-size: auto 100%; }

  table.financial.alt {
    width: 100%; }

  .formatting h1 {
    font-size: 2em; }

  div.product-title h1 {
    margin-bottom: 0.2em;
    font-size: 1.5em; }

  div.product-title p {
    margin-bottom: 0; }

  p.notice, em.notice {
    font-size: 1.3em; }

  ul.files li {
    padding-left: 0;
    background: none; }

  /* Mobile navigation */
  #navigation.wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: #0094d5;
    text-align: left;
    font-size: 1em;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2); }

  #navigation nav {
    position: absolute;
    bottom: 0;
    background: none;
    font-size: 0.9em;
    box-shadow: none; }

  #navigation nav h2 {
    display: block;
    position: absolute;
    top: 0;
    right: 1em;
    bottom: 0;
    font-style: normal;
    text-transform: uppercase; }

  #navigation nav h2 a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.4em 1em 0;
    background: rgba(0, 0, 0, 0.08);
    color: #fff;
    cursor: pointer;
    box-shadow: inset -1px 0 rgba(0, 0, 0, 0.1), inset 1px 0 rgba(0, 0, 0, 0.1); }

  #navigation nav h2 a.on,
  #navigation nav h2 a:hover,
  #navigation nav h2 a:focus {
    background: rgba(0, 0, 0, 0.3); }

  #navigation nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0.5em;
    z-index: 10000;
    margin: 1em 0 0;
    border-radius: 0.5em;
    width: 12em;
    background: rgba(0, 90, 135, 0.9);
    text-align: right;
    font-size: 0.9em; }

  #navigation nav ul.open {
    display: block; }

  #navigation nav ul:after {
    position: absolute;
    top: -10px;
    right: 0;
    margin-right: 1em;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 90, 135, 0.85);
    height: 0;
    width: 0;
    content: ""; }

  #navigation nav ul li {
    display: block;
    padding: 0;
    font-size: 1.1em; }

  #navigation nav ul a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 0.7em 1.5em;
    font-weight: normal; }

  #navigation nav ul li:first-child a {
    border-radius: 0.5em 0.5em 0 0; }

  #navigation nav ul li:last-child a {
    border-bottom: 0;
    border-radius: 0 0 0.5em 0.5em; }

  #navigation nav ul li.home a {
    width: auto;
    background-image: none;
    text-indent: 0; } }